<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

    <a routerLink="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
          <img class="w-8 h-8 mr-2" src="../../../../../public/favicon.ico" alt="logo">
          TicketMaster    
    </a>
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
        >
          Actualizar Contraseña
        </h1>
        <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="updateUser()">
          <div>
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Nueva Contraseña</label
            >
            <input
              type="password"
              name="newPassword"
              id="newPassword"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="••••••••"
              required=""
              formControlName="newPassword"
            />
            @if (form.get('newPassword')?.invalid && form.get('newPassword')?.touched) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                @if (form.get('newPassword')?.errors?.['required']) {
                  La contraseña es requerida.
                }
                @if (form.get('newPassword')?.errors?.['minlength']) {
                  La contraseña debe tener al menos 6 caracteres.
                }
              </p>
            }
          </div>
          <div>
            <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Confirmar Contraseña</label
            >
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="••••••••"
              required=""
              formControlName="confirmPassword"
            />
            @if (passwordMismatch) {
              <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                Las contraseñas no coinciden.
              </p>
            }
          </div>
          
          <button
            type="submit"
            class="cursor-pointer w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium bg-green-500 rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            [disabled]="form.invalid || isLoading"
          >
            @if (isLoading) {
              Actualizando...
            } @else {
              Actualizar Contraseña
            }
          </button>

          @if (message) {
            <div class="p-4 mb-4 text-sm rounded-lg" 
                [class]="message.includes('Error') || message.includes('error') || message.includes('expirado') ? 'text-red-800 bg-red-50 dark:bg-gray-800 dark:text-red-400' : 'text-green-800 bg-green-50 dark:bg-gray-800 dark:text-green-400'">
              {{ message }}
            </div>
          }

          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            ¿Recordaste tu contraseña?
            <a routerLink="/auth/log-in" class="cursor-pointer font-medium text-primary-600 text-green-500 hover:underline dark:text-primary-500"
              >Iniciar Sesión</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

